.titleNeon {
  text-shadow: 0 0 10px #fee, 0 0 30px currentColor, 0 10px 3px #000;
}

.titleNeon > span:nth-child(2n) {
  animation: blink linear infinite 3s;
}
.titleNeon > span:nth-child(4n) {
  animation: blink linear infinite 2s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.2% {
    color: inherit;
    text-shadow: inherit;
  }
}
