#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.row {
  display: flex;
}

.menu {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.cell {
  display: flex;
  border: 1px solid white;
  width: 32px;
  flex: 1;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}
